Import các thư viện cần thiết

In [95]:
import pandas as pd
import numpy as np

Import file USvideos.csv và file US_category_id.json

In [96]:
# Import file USvideos.csv
Videos=pd.read_csv('YoutubeProject\\USvideos.csv')
# Import file US_category_id.json
Category=pd.read_json('YoutubeProject\\US_category_id.json')

Clean data Videos

In [97]:
# Xem tổng quan về bộ dữ liệu
Videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [98]:
# Bỏ các cột 'tags','thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description'
Videos.drop(['thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description'], axis=1, inplace=True)

In [99]:
# Kiểm tra data type của các cột và xem DataFrame có giá trị null không
Videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       40949 non-null  object
 1   trending_date  40949 non-null  object
 2   title          40949 non-null  object
 3   channel_title  40949 non-null  object
 4   category_id    40949 non-null  int64
 5   publish_time   40949 non-null  object
 6   tags           40949 non-null  object
 7   views          40949 non-null  int64
 8   likes          40949 non-null  int64
 9   dislikes       40949 non-null  int64
 10  comment_count  40949 non-null  int64
dtypes: int64(5), object(6)
memory usage: 3.4+ MB

In [100]:
# Chuyển cột 'trending_date' về đúng định dạng date
Videos['trending_date']=pd.to_datetime(Videos['trending_date'], format='%y.%d.%m')

In [101]:
# Chuyển cột 'publish_time' về đúng định dạng date
Videos['publish_time']=Videos['publish_time'].str.split('T',expand=True)[0]
Videos['publish_time']=pd.to_datetime(Videos['publish_time'], format='%Y-%m-%d')

In [102]:
# Bỏ dấu " trong cột tags
Videos['tags']=Videos['tags'].str.replace('\"','')

In [103]:
# Set kiểu dữ liệu đúng cho các cột
Videos['video_id']=Videos['video_id'].astype(str)
Videos['title']=Videos['title'].astype(str)
Videos['channel_title']=Videos['channel_title'].astype(str)
Videos['category_id']=Videos['category_id'].astype(int)
Videos['views']=Videos['views'].astype(int)
Videos['likes']=Videos['likes'].astype(int)
Videos['dislikes']=Videos['dislikes'].astype(int)
Videos['comment_count']=Videos['comment_count'].astype(int)
Videos['tags']=Videos['tags'].astype(str);

In [104]:
# Kiểm tra lại kiểu dữ liệu của các cột trong DataFrame
Videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   video_id       40949 non-null  object
 1   trending_date  40949 non-null  datetime64[ns]
 2   title          40949 non-null  object
 3   channel_title  40949 non-null  object
 4   category_id    40949 non-null  int32
 5   publish_time   40949 non-null  datetime64[ns]
 6   tags           40949 non-null  object
 7   views          40949 non-null  int32
 8   likes          40949 non-null  int32
 9   dislikes       40949 non-null  int32
 10  comment_count  40949 non-null  int32
dtypes: datetime64[ns](2), int32(5), object(4)
memory usage: 2.7+ MB

In [105]:
# Lấy dữ liệu từ ngày 01/1/2018 đến ngày 30/6/2018
Videos=Videos[(Videos['trending_date']>=pd.to_datetime('2018-01-01', format='%Y-%m-%d'))&(Videos['trending_date']<pd.to_datetime('2018-06-01', format='%Y-%m-%d'))]

In [106]:
# Kiểm tra xem trong DataFrame có dòng dữ liệu bị lặp không
Videos[Videos.duplicated()].count()

video_id         48
trending_date    48
title            48
channel_title    48
category_id      48
publish_time     48
tags             48
views            48
likes            48
dislikes         48
comment_count    48
dtype: int64

In [107]:
# Xóa các dòng dữ liệu bị trùng lặp
Videos.drop_duplicates(inplace=True)

Clean data Category

In [108]:
# Xem tổng quan về bộ dữ liệu
Category.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
2,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
3,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."
4,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2..."

In [109]:
# Lấy cột 'items' và chuyển thành DataFrame
Category=pd.DataFrame(list(Category['items']))

In [110]:
# Lấy cột 'snippet' trong DataFrame vừa tạo và chuyển thành DataFrame với 3 cột là 'channelID', 'title', 'assignable'
Category[['channelID', 'title', 'assignable']]=pd.DataFrame(list(Category['snippet']))

In [111]:
# Bỏ các cột ''kind', 'etag', 'snippet', 'channelID', 'assignable', chỉ lấy cột 'id' và 'title'
Category=Category[['id', 'title']]

In [112]:
# Xóa bỏ các dòng bị lặp
Category.drop_duplicates(inplace=True)

In [113]:
# Kiểm tra các giá trị lặp ở cột 'title'
Category['title'].value_counts()

Comedy                   2
Film & Animation         1
Nonprofits & Activism    1
Shows                    1
Shorts                   1
Thriller                 1
Sci-Fi/Fantasy           1
Horror                   1
Foreign                  1
Family                   1
Drama                    1
Documentary              1
Classics                 1
Action/Adventure         1
Anime/Animation          1
Movies                   1
Science & Technology     1
Autos & Vehicles         1
Education                1
Howto & Style            1
News & Politics          1
Entertainment            1
People & Blogs           1
Videoblogging            1
Gaming                   1
Travel & Events          1
Short Movies             1
Sports                   1
Pets & Animals           1
Music                    1
Trailers                 1
Name: title, dtype: int64

In [114]:
# Kiểm tra id nào của thể loại comedy bị thừa và xóa bỏ
Category.drop(Category[Category['id']=='34'].index, inplace=True)

In [115]:
# Đổi tên cột 'title' thành 'category'
Category.rename(columns={'title':'category'}, inplace=True)

In [116]:
# Set lại kiểu dữ liệu của các cột
Category['id']=Category['id'].astype(int)
Category['category']=Category['category'].astype(str)

In [117]:
# Kiểm tra kiểu dữ liệu và các giá trị null trong các cột
Category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 31
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        31 non-null     int32
 1   category  31 non-null     object
dtypes: int32(1), object(1)
memory usage: 620.0+ bytes

In [118]:
# Set index cho cột 'id'
Category.set_index('id', inplace=True)

Tạo DataFrame Video_tags gồm các cột 'video_id', 'tags'

In [123]:
# Tạo DataFrame Video_tags
Video_tags=pd.DataFrame(Videos[['video_id','tags']],columns=['video_id','tags'])

In [124]:
# Xóa các dòng dữ liệu bị trùng lặp (do các video có thể trending trong nhiều ngày)
Video_tags.drop_duplicates(inplace=True)

In [125]:
# Chuyển các giá trị của cột 'tags' thành list
Video_tags['tags']=Video_tags['tags'].str.split('|')

In [126]:
# Explode cột 'tags'
Video_tags=Video_tags.explode('tags')

In [127]:
# Set lại kiểu dữ liệu cho các cột
Video_tags['video_id']=Video_tags['video_id'].astype(str)
Video_tags['tags']=Video_tags['tags'].astype(str)

In [128]:
# Kiểm tra lại giá trị null và kiểu dữ liệu của các cột trong DataFrame
Video_tags.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89269 entries, 9600 to 38064
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   video_id  89269 non-null  object
 1   tags      89269 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [129]:
# Set index cho cột 'video_id'
Video_tags.set_index('video_id', inplace=True)

Export các DataFrame thành ra file csv

In [130]:
# Xóa cột tags trong DataFrame Videos
Videos.drop(columns=['tags'], inplace=True)

In [131]:
# Set index cho cột 'video_id' trong DataFrame Videos
Videos.set_index('video_id', inplace=True)

In [132]:
# Lấy giá trị lớn nhất về views, likes, dislikes, comment_count của các video để thực hiện tính toán (vì một video có thể trending nhiều ngày)
Videos_max_figure=Videos.groupby(['video_id','category_id'])[['views', 'likes', 'dislikes', 'comment_count']].agg('max').reset_index().set_index('video_id')

             category_id    views   likes  dislikes  comment_count
video_id
-0NYY8cqdiQ           24   563746    4429        54             94
-1Hm41N0dUs           23  2058516   41248       580           1490
-2aVkGcI7ZA           10  2390558   41016      1642            977
-2wRFv-mScQ           17  1036300   12984       383            714
-35jibKqbEo           10  2425578  129381      1522           8757
...                  ...      ...     ...       ...            ...
zvFQWPEuNJA           24   740854   13951       515           1264
zvjqcoiOPbE           10  1329689   47497      1170           5787
zwEn-ambXLw           10   241668    8478       144            328
zxwfDlhJIpw           22  8442986  166520     19462          48467
zzQsGL_F9_c           24   199041    1415       121             62

[4269 rows x 5 columns]

In [133]:
# Export bảng Youtube và Video_tags
Videos.to_csv('Videos.csv')
Category.to_csv('Category.csv')
Video_tags.to_csv('Video_tags.csv')
Videos_max_figure.to_csv('Videos_max_figure.csv')

In [134]:
Category

                 category
id
1        Film & Animation
2        Autos & Vehicles
10                  Music
15         Pets & Animals
17                 Sports
18           Short Movies
19        Travel & Events
20                 Gaming
21          Videoblogging
22         People & Blogs
23                 Comedy
24          Entertainment
25        News & Politics
26          Howto & Style
27              Education
28   Science & Technology
29  Nonprofits & Activism
30                 Movies
31        Anime/Animation
32       Action/Adventure
33               Classics
35            Documentary
36                  Drama
37                 Family
38                Foreign
39                 Horror
40         Sci-Fi/Fantasy
41               Thriller
42                 Shorts
43                  Shows
44               Trailers

In [135]:
Video_tags

                                   tags
video_id
x4TZEVqKIvs         high school musical
x4TZEVqKIvs                      disney
x4TZEVqKIvs    high school musical 2018
x4TZEVqKIvs   high school musical movie
x4TZEVqKIvs  high school musical lyrics
...                                 ...
2-tzlBFotjA                       shots
2-tzlBFotjA                shotsstudios
2-tzlBFotjA                      alesso
2-tzlBFotjA                      anitta
2-tzlBFotjA                      brazil

[89269 rows x 1 columns]